/*toda la etiqueta de body*/
body {
    color: seagreen;
}

/*Se puede llamar tanto a la etiqueta como al id de la etiqueta o la clase que tenga asignadas varias etiquetas según sea el caso */

h1 {
    color: blueviolet;
}

/*# = llamar al id de la etiqueta */
#titulo {
    color: brown;
}

/*. = clases */
.texto {
    color: cadetblue;
}

/*Cuando se tiene mas de una clase dentro de la misma etiqueta, se puede especificar cuál es la clase que se va a modificar con la etiqueta y la clase*/
p.texto1 {
    color: blue;
}

/* nota: Siempre cuando se tiene una etiqueta co mas de una clase siempre se va a aplicar el último estilo que se creo en secuencia de modificación del archivo de CSS */
/*En este caso toma los párrafos que estén en dicha sección*/
section p {
    color: coral;
}

/*Otro ejemplo*/
/*Se pueden llamar a varias etiquetas con ","*/
section h2, h3{
    color: crimson;
}

/* *= Selecciona todo el contenido de la pagina web */
/*Nota: El selector "*" o selector universal solo cambia las propiedades que no se hayan definido previamente en el código */
*{
    /*font-size= tamaño de fuente
      px= pixeles*/
    font-size: 24px;
}

#titulo2{
    /*Convención de color 1*/
    /*RBG hexadecimal con convención de 3 dígitos*/
    color: #f00;
}

#titulo3{
    /*Convención de color 2*/
    /*RBG hexadecimal con convención de 6 dígitos
    En este caso: 2 dígitos= R, 2 dígitos= G, 2 dígitos= B */
    color: #ee0000;
}
#titulo4{
    /*Convención de color 3*/
    /*RBG hexadecimal con convención de 6 dígitos
    En este caso: 2 dígitos= R, 2 dígitos= G, 2 dígitos= B */
    color: rgb(0,255,255);
}

.texto{
    /*estilos de bordes:
     border = bordes 
     deshed= linea punteada
     solid = linea recta
     dotted = lineas con bordes 
     double 
     groove
     ridge
     inset
     outset
     none
     hidden*/
    /* border: 5px red outset; */
    border-style: solid;
    border-color: cadetblue;
    /* bordes redondeados */
    border-radius: 5px;
    /* Ancho del borde */
    /* medidas: cm
                mm
                px
                in = pulgadas
                pt=puntos=1/72 de in
                pc=picas=12 puntos
                em= medida relativa al tamaño de la fuente del elemento
                1em= al tamaño del elemento
                rem= Relaciona con el tamaño de fuente de la raíz del elemento de HTML, que por defecto es de 16px*/
    border-width: 5px;
}

#articulo1 {
    /* Da un color al fond del elemento */
    /* rgba= con opacidad o transparencia  */
    background-color: rgba(0,0,0,0.3);
}

#subtitulo1{
    /* a diferencia de rgb, definir la propiedad de opacidad de manera independiente esta da opacidad a todo el elemento */
    background-color: rgb(0,255,255);
    opacity: 0.3;
}

/* Llamar la clase o id de una parte de la página web y un elemento que esta dentro de este */
.articulo2 h1 {
    color: beige;
    /* En este caso no se le esta dando un fondo  a la imagen */
    background-image: url('coffee.png');
    height: 200px;
    /* auto = tamaño de la imagen por defecto
    cover = Ajusta el tamaño de la imagen con las dimensiones de forma dinámica 
    contain= contiene la imagen en las dimensiones previamente establecidas
    _n_px _n_px= para definir la altura y el ancho de la imagen
    nota: Para que haga efecto la opción anterior se debe definir la misma medida en la propiedad de altura previamente establecida */
    background-size: 200px 200px;
    /* no-repeat= Para que no se repita la imagen al bajar mucho la dimensión de la imagen 
       repeat-x= repite la imagen en el eje horizontal
       repeat-y= repite la imagen en el eje vertical*/
    background-repeat: no-repeat;
    /* Posiciones de imagen (primera posición eje horizontal):
    right
    left
    center
    (segunda posición eje vertical):display:
    top (arriba)
    center
    bottom (abajo) */
    /* Nota: También se le pueden agregar medidas a "background-position" para ajustar la imagen en el eje */
    background-position: left center;
}

#articulo3 {
    height: 200px;
    /* en este caso se le está dando un fondo  */
    background: beige url('monster.png') no-repeat center center;
    /* nota: en este caso las dimensiones se tienen que definir luego del "background" para que este las tome */
    background-size: 200px 200px;
}

.Margenes{
    background-color: cadetblue;
    /* margin= margenes por fuera del elemento
    nota: Primera posición= Margen top (arriba)
          Segunda posición= Margen right  
          Tercera posición= Margen bottom (abajo)
          Cuarta posición= Margen de la left  */
    /* nota: En este caso el margen está fuera del titulo o elemento */
    /* nota: Si se deja una sola posición en los margenes este toma esa unica medida para todos sus margenes al igual que padding y border */
    /* margin: 15px;
       padding: 15px;
       border: 15px;  
       nota: Si de define la propiedad con dos valores este los toma en cuenta como eje vertical y el eje horizontal */
       /* margin: 15px 20px;
       padding: 15px 20px;
       border: 15px 20px; */
       /*nota: Si de define la propiedad con tres valores este los toma en cuenta como top (arriba), el eje horizontal y bottom(abajo) */
       /* margin: 15px 20px 5px;
       padding: 15px 20px 5px;
       border: 15px 20px; 5px*/
    margin: 15px 20px 25px 30px;
    /* padding= margenes entre el elemento y el margin  */
    padding: 30px 25px 20px 15px ;
    /* border= Borde que se sitúa entre el margin y el padding   */
    border: 1px solid black;
    /* height= altura */
    height: 100px;
    /* width= ancho */
    width: 50px;
    /* overflow= Cambia la visibilidad del contenido que se sale de los margenes 
    hidden= Oculta el contenido que sale de los margenes
    visible= Hace visible el contenido que se sale de los margenes 
    scroll= hace que el contenido se mueva mediante un scroll para que no se salga de los margenes  */
    overflow: scroll;
    /* outline= es una linea o borde que esta entre el "border" y el "margin" */
    outline: 2px solid orange;
}
/* nota: el boxmodel es como se posiciona el contenido html dentro de la página web  */

#t1{
    /* font-family= tipo de fuente  */
    /* nota: si no puede cargar una de las fuente intenta con la siguiente */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Roboto', sans-serif ;
    /* text-align= Alinea el texto
    justify = utiliza todo el ancho que tiene disponible para textos muy grandes (desde la izquierda)
    right 
    left  */
    text-align: center;
    /* text-decoration= decoración de texto
    underline= subrayado 
    line-through= Para tachar 
    overline= Encima de la linea */
    text-decoration: line-through;
    /* text-shadow= Sombreado 
    Primera posición = cuanto de va a mover la sombra hacia la derecha 
    Segunda posición = cuanto se va a mover la sombra hacia abajo 
    Tercera posición = difuminado de la sombra  */
    text-shadow: 3px 2px 5px blue;
}

/* Este orden es una convención si que si se quiere eliminar un seleccionador hay que seguir la secuencia  */
/* Cuando el link no ha sido visitado */
a:link{
    color: blue;
}

/* cuando el link ha sido visitado */
a:visited{
    color: blueviolet;
}

/* Cuando el cursor del mouse esta encima del link  */
a:hover{
    color: pink;
}

/* Cuando el link se esta oprimiendo el link   */
a:active{
    color: darkcyan;
}

#lista_no_ordenada1{
    background-color: gray;
    list-style-type: none;
    /* El Padding del lado izquierdo de la lista es de 40px por defecto */
    padding-left: 0;
}

#tabla1{
    /* Espacios entre celdas */
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: lightgreen;
    color: white;
    text-align: left;
}

/* eve= par 
odd=impar */
tr:nth-child(even){
    background-color: lightblue;
}

tr:hover{
    background-color: #aaa;
    /* Cambia el tipo de cursor de flecha a mano cuando se pasa el mismo por el elemento */
    cursor: pointer;
}

/* nota: por defecto las etiquetas de div o section dan un salto de linea a diferencia se los span  */
span{
    /* fuerza al elemento a dar saltos de linea  */
    display: block;
    background-color: violet;
    /* max-width= Hace que se pueda redimencionar el contenido del elemento con el tamaño en el que se encuentre la ventana del navegador */
    max-width: 600px;
}

div{
    /* display: inline= Fuerza al elemento a seguir dentro de la misma linea   */
    /* nota: Las etiquetas de html que vienen con por defecto son: los spam, las img y las anchortag */
    /* display: none= Oculta el elemento dentro de una linea , pero sigue existiendo dentro de la pagina web */
    /* display: none;*/
    /* display:inline-block= Con esta propiedad se le pude dar medidas con width y con height al elemento */
    /* Nota: solo se puede dar dimensiones a "inline-block" */
    display: inline;
}

#aposición{
    /* posición = posiciones de los elementos de html
        relative = da una posición  relativa al elemento
        fixed = Posiciona el elemento con respecto a lo que se está viendo en el navegador (son los que se mueven con la página cuando se hace scroll down ) 
        absolute = Se posiciona relativamente a la etiqueta padre html mas cercana que este elemento tenga 
        sticky = Es una mezcla ente relative y fixed dependiendo del contexto */
        position: relative ;
    /* left = Da un espacio de izquierda a derecha
       right = Da un espacio de derecha a izquierda
       top = Da un espacio de arriba a abajo 
       bottom = Da un espacio de abajo hacia arriba */
       left: 20px;
}

.articulo_flotanteocontainerizq{
    /* float = Hace que el elemento flote en una posición */
    float: right;
}

.texto13{
    /* Centrar un elemento y texto  */
    /* Centrar texto */
    text-align: center;
    /* Centrar elemento  */
    /* Centrado vertical  */
    padding: 50px 0;
    width: 200px;
    margin: 0 auto;
}